{% extends 'layouts/base.layout.html.twig' %}
{% block body %}
    <div class="container" id="roadmap-app">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{ projectName }}</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/projects">{{ "projects"|trans }}</a></li>
                <li><a href="/team">{{ "team"|trans }}</a></li>
                <li><a href="/you">{{ "you"|trans }}</a></li>
            </ul>
        </nav>
    </div>

    <div id="content" class="container">{% block content %}{% endblock %}</div>
{% endblock %}